{% extends "base.html" %}

{% block title %}Diary{% endblock %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'articles/style.css' %}">
{% endblock %}

{% block content %}
<h1>Diaries</h1>
<div>
    <span>Sort By:</span>
    <a href="{% url 'all_article' %}?sort_by=id">ID</a>
    <a href="{% url 'all_article' %}?sort_by=create_at">Create Time</a>
    <a href="{% url 'all_article' %}?sort_by=update_at">Update Time</a>
</div>


    {% for r in results %}
        <fieldset>
            <legend class="content_title">{{r.date}}</legend>
            <label class="time">Create at:{{r.create_at}}</label>  <label class="time">Update at:{{r.update_at}}</label>
            <div class="content">
                <p>
                    {{r.content}}
                    <a href="{% url 'article_detail' r.id %}">more</a>   
                </p>    
            </div>  
        </fieldset>
    {% empty %}
    Not Any Diary is written. Try to write one now by login in.
    {% endfor %}
{% endblock %}