{% extends "base.html" %}

{% block title %}Diary{% endblock %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'articles/style.css' %}">
{% endblock %}

{% block content %}
<h1>Diary</h1>
    {% for r in results %}
        <fieldset>
            <legend class="content_title">{{r.date}}</legend>
                Create at:<label class="time">{{r.create_at}}</label>  Update at:<label class="time">{{r.update_at}}</label>
            <div class="content">
                <p>
                    {{r.content}}
                </p>
            </div>          
        </fieldset>
    {% empty %}
    No Content
    {% endfor %}
{% endblock %}