{% extends "base.html" %}

{% block title %}Diary{% endblock %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'articles/style.css' %}">
{% endblock %}

{% block content %}
<h1>{{date}}</h1>
<a href="/articles">Back To List</a>
<div class="detail">
    <label class="time">Create at:{{create_at}}</label>  <label class="time">Update at:{{update_at}}</label>
    <div class="detail-content">
        <p>
            {{content}}
        </p>
    </div>        
</div>
{% endblock %}